<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}
  <!-- <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section> -->
  {{ content }}


  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- AnuncioHorizontalResponsivo -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6527438515527357" data-ad-slot="7496128638"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {% include footer.html %}
</body>